<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecomerse Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header id="header">
    <a href="#"><img src="home-images/logo.png" alt="Logo"></a>
    <div>
        <ul id="navbar">
            <i onclick="hidesidebar()" class="fa fas fa-times close"></i>
            <li><a class="active" href="home.html">Home</a></li>
            <li><a href="shop.html">Shop</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="cart.html"><i class="fas fa-shopping-cart shopping-cart"></i></a></li>
        </ul>
    </div>
    <div id="mobile">
        <a href="cart.html"><i class="fas fa-shopping-cart"> </i></a>
        <i onclick="showsidebar()" class="fas fa-bars"></i>
    </div>
    
    </header>
    <div class="search">
        <input type="search" placeholder="Search here...">
    </div>
     <section id="hero">
        <h4>Trade-in-offer</h4>
        <h2>Super value deals</h2>
        <h1>On all Products</h1>
        <p>Save more with coupons  &amp; up to 50% off!</p>
        <button class="white">Shop Now</button>
        <div id="counter" class="section-m1">
            <div class=" ">
                <h3>Available Products</h3>
                <h4 class="available-products number">1000</h4>
            </div>
            <div class="">
                <h3>Products Devlivered</h3>
                <h4 class="delivered-products number"> 200</h4>
            </div>
            <div>
                <h3>Devlivering</h3>
                <h4 class="delivering number">50</h4>
            </div>
       </div>
     </section>
     <section class="section-m1 section-p1 text">
        <h1 class="main-text"></h1>

     </section>
     
     <section class="section-p1" id="feature">
        
     
        <div class="feature-box">
            <img src="home-images/feature/f1.png" alt="">
            <h6>Free Shipping</h6>
        </div>
        <div class="feature-box">
            <img src="home-images/feature/f2.png" alt="">
            <h6>Online Order</h6>
        </div>
        <div class="feature-box">
            <img src="home-images/feature/f3.png" alt="">
            <h6>Save Money</h6>
        </div>
        <div class="feature-box">
            <img src="home-images/feature/f4.png" alt="">
            <h6>Promotion</h6>
        </div>
        <div class="feature-box">
            <img src="home-images/feature/f5.png" alt="">
            <h6>Happy Sell</h6>
        </div>
        <div class="feature-box">
            <img src="home-images/feature/f6.png" alt="">
            <h6>F24/7 Support</h6>
        </div>
     </section>
     <section class="section-p1 product1">
        <h2>Featured Products</h2>
        <p>Summer Collection New Mordern Design</p>
        <div class="pro-container">
            <div class="pro">
                <img src="home-images/f1.jpg" alt="Product">
                <div class="description">
                    <h5>adidas</h5>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$90.00</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="home-images/f2.jpg" alt="Product">
                <div class="description">
                    <h5>adidas</h5>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$90.00</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="home-images/f3.jpg" alt="Product">
                <div class="description">
                    <h5>adidas</h5>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$90.00</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="home-images/f4.jpg" alt="Product">
                <div class="description">
                    <h5>adidas</h5>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$90.00</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="home-images/f5.jpg" alt="Product">
                <div class="description">
                    <h5>adidas</h5>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$90.00</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="home-images/f6.jpg" alt="Product">
                <div class="description">
                    <h5>adidas</h5>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$90.00</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="home-images/f7.jpg" alt="Product">
                <div class="description">
                    <h5>adidas</h5>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$90.00</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="home-images/f8.jpg" alt="Product">
                <div class="description">
                    <h5>adidas</h5>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$90.00</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
        </div>
     </section>
     <section class="section-p1 more-products">
        <a href="sproduct.html">  <button class="white">See More <i class="fa-solid fa-arrow-right arrow"></i> </button></a>
     </section>
     <section class="section-m1" id="banner" >
        <h4>Repair Services</h4>
        <h2>Up to <span>70% Off </span> On-All T-Shirts &amp; Accessories </h2>
        <button class="white">Explore More</button>
     </section>
     <section class="section-p1 product1">
        <h2>New Arrivals</h2>
        <p>Summer Collection New Mordern Design</p>
        <div class="pro-container">
            <div class="pro">
                <img src="home-images/n1.jpg" alt="Product">
                <div class="description">
                    <h5>adidas</h5>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$90.00</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="home-images/n2.jpg" alt="Product">
                <div class="description">
                    <h5>adidas</h5>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$90.00</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="home-images/n3.jpg" alt="Product">
                <div class="description">
                    <h5>adidas</h5>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$90.00</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="home-images/n4.jpg" alt="Product">
                <div class="description">
                    <h5>adidas</h5>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$90.00</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="home-images/n5.jpg" alt="Product">
                <div class="description">
                    <h5>adidas</h5>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$90.00</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="home-images/n6.jpg" alt="Product">
                <div class="description">
                    <h5>adidas</h5>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$90.00</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="home-images/n7.jpg" alt="Product">
                <div class="description">
                    <h5>adidas</h5>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$90.00</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="home-images/n8.jpg" alt="Product">
                <div class="description">
                    <h5>adidas</h5>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$90.00</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
        </div>
     </section>
     <section id="sm-banner" class="section-p1">
        <div class="banner-box">
            <h4>Crazy deals</h4>
            <h2>Buy 1 Get 1 
                Free</h2>
            <p>The best classic dress is on sale at care</p>
            <button class="white">Learn More</button>
        </div>
        <div class="banner-box banner-box2">
            <h4>Spring/Summer</h4>
            <h2>Upcomming Season</h2>
            <p>The best classic dress is on sale at care</p>
            <button class="white">Collection</button>
        </div>
     </section>
     <section id="banner3">
        <div class="banner-box">
            <h1>SEASONAL SALE</h1>
             <h3>Winter Collection -50% Off</h3>
        </div>
        <div class="banner-box banner-box2">
            <h1>NEW FOOTWEAR COLLECTIONS</h1>
             <h3>Winter Collections 2024</h3>
        </div>
        <div class="banner-box banner-box3">
            <h1>T-SHIRTS</h1>
             <h3>New Trendy Prints</h3>
        </div>
     </section>
     <footer class="section-p1">
        <div class="col">
            <img class="logo" src="home-images/logo.png" alt="Logo">
            <h4>Contact</h4>
            <p>Adress: Rora Stop Main Badian Road Lahore Pakistan</p>
            <p>Phone: +923147358828</p>
            <p>Hours: 6:00 - 6:00. Mon - Friday</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icons">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-whatsapp"></i>
                    <i class="fab fa-github"></i>
                    <i class="fab fa-linkedin"></i>
                </div>
            </div>
        </div>
        
        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms &amp; Condidation</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>
        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play Store</p>
            <div class="row">
                <img class="img" src="home-images/pay/app.jpg" alt="">
                <img class="img" src="home-images/pay/play.jpg" alt="">
                <p>Secure Payment Gateways</p>
                <img src="home-images/pay/pay.png" alt="">
            </div>
            
        </div>
        <div class="copyright">
            <p>&copy; 2024,Ahtisham and Jannat</p>
        </div>
        

     </footer>


<script src="script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js" integrity="sha512-GWzVrcGlo0TxTRvz9ttioyYJ+Wwk9Ck0G81D+eO63BaqHaJ3YZX9wuqjwgfcV/MrB2PhaVX9DkYVhbFpStnqpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>